<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>222987393627-s4kc081h6o8crtplal5tkic8vodghqfl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.222987393627-s4kc081h6o8crtplal5tkic8vodghqfl</string>
	<key>API_KEY</key>
	<string>AIzaSyCTMXHrXalF4OkcFMRf7NxPeSxZkY6oVaE</string>
	<key>GCM_SENDER_ID</key>
	<string>222987393627</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rekret.adalu</string>
	<key>PROJECT_ID</key>
	<string>adaluid-a9a02</string>
	<key>STORAGE_BUCKET</key>
	<string>adaluid-a9a02.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:222987393627:ios:e06c87ff238b13624ffd7e</string>
</dict>
</plist>